#colorPalette {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  animation: revealFromTop 300ms ease-in-out forwards;
}

#colorPalette.exit {
  animation: hideIntoTop 300ms ease-in-out forwards;
}

#currentSwatch {
  width: 80px;
  height: 50px;
  border-radius: 9999px;
  rotate: -40deg;
  transform: translateX(-30);
}

@keyframes revealFromTop {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes hideIntoTop {
  from {
    top: 0;
  }

  to {
    top: -50%;
  }
}
