#colorPalette {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 15px;
  right: 0;
  bottom: 0;
  animation: bottomRightSlideIn 300ms ease-in-out forwards;
}

#colorPalette.exit {
  animation: bottomRightSlideOut 300ms ease-in-out forwards;
}

#colorSwatch {
  width: 80px;
  height: 50px;
  border-radius: 9999px;
}

@keyframes bottomRightSlideIn {
  from {
    right: -100%;
    bottom: -100%;
  }

  to {
    right: 0;
    bottom: 0;
  }
}

@keyframes bottomRightSlideOut {
  from {
    right: 0;
    bottom: 0;
  }

  to {
    right: -100%;
    bottom: -100%;
  }
}
