#webcam {
  display: inline;
  grid-area: 2 / 2 / 8 / 12;
  overflow: hidden;
  position: relative;
}

#webcam video {
  object-fit: cover;
  flex-grow: 1;
  width: 0; /* Enforces using the flex-grow */
}

#webcam #controls {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#processed-face {
  flex-grow: 1;
  width: 0; /* Enforces using the flex-grow */
}
